@import 'tailwindcss';
@import 'tailwindcss-animated';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --aes-yellow: #f9ac0a;
  --light-yellow: #f7ecda;
  --light-yellow-50: rgba(247, 236, 218, 0.66);

  --left-10: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  --left-20: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  --left-30: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  --left-40: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
  --left-50: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  --left-60: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
  --left-70: polygon(0 0, 100% 0, 100% 100%, 70% 100%);
  --left-80: polygon(0 0, 100% 0, 100% 100%, 80% 100%);
  --left-90: polygon(0 0, 100% 0, 100% 100%, 90% 100%);
  --right-30: polygon(0 0, 100% 0, 30% 100%, 0% 100%);
  --right-40: polygon(0 0, 100% 0, 40% 100%, 0% 100%);
  --right-50: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  --right-60: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-yellow-aes-yellow: #f9ac0a;
  --color-light-yellow-50: rgba(247, 236, 218, 0.66);
  --color-light-yellow: #f7ecda;

  --color-blue-dark-blue: #0d0d19;
  --color-blue-navy-blue: #29294c;

  --color-purple-purp-aes: #58194f;

  --color-pink-lighter-pink: #e71467;
  --color-pink-darker-pink: #a20054;

  --color-orange-orange: #f06039;

  --card-DEFAULT: hsl(var(--card));
  --card-foreground: hsl(var(--card-foreground));

  --popover-DEFAULT: hsl(var(--popover));
  --popover-foreground: hsl(var(--popover-foreground));

  --primary-DEFAULT: hsl(var(--primary));
  --primary-foreground: hsl(var(--primary-foreground));

  --secondary-DEFAULT: hsl(var(--secondary));
  --secondary-foreground: hsl(var(--secondary-foreground));

  --muted-DEFAULT: hsl(var(--muted));
  --muted-foreground: hsl(var(--muted-foreground));

  --accent-DEFAULT: hsl(var(--accent));
  --accent-foreground: hsl(var(--accent-foreground));

  --destructive-DEFAULT: hsl(var(--destructive));
  --destructive-foreground: hsl(var(--destructive-foreground));

  --border: hsl(var(--border));

  --input: hsl(var(--input));

  --ring: hsl(var(--ring));

  --chart-1: hsl(var(--chart-1));
  --chart-2: hsl(var(--chart-2));
  --chart-3: hsl(var(--chart-3));
  --chart-4: hsl(var(--chart-4));
  --chart-5: hsl(var(--chart-5));

  --border-radius-sm: calc(var(--radius) - 4px);
  --border-radius-md: calc(var(--radius) - 2px);
  --border-radius-lg: var(--radius);

  --grid-template-rows-auto-100: repeat(auto-fit, minmax(min-content, 1fr));
  --grid-template-rows-auto-5: repeat(auto-fit, minmax(min-content, 1fr));
  --grid-template-rows-auto-2: repeat(auto-fit, minmax(min-content, 1fr));
  --grid-template-rows-auto-4: repeat(4, minmax(max-content, 1fr));
  --grid-template-rows-manual-6: repeat(6, minmax(max-content, 2rem));

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --keyframes-accordion-down: accordion-down 0.2s ease-out;
  --keyframes-accordion-up: accordion-up 0.2s ease-out;

  --animation-accordion-down: var(--keyframes-accordion-down);
  --animation-accordion-up: var(--keyframes-accordion-up);
}

@layer base {
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}
/* Your CSS file */
.gradient-effect {
  background-image: linear-gradient(
    90deg,
    rgba(249, 172, 10, 1) 0%,
    rgba(231, 20, 103, 1) 45%,
    rgba(162, 0, 84, 1) 55%,
    rgba(41, 41, 76, 1) 100%
  );
  background-size: cover;
  background-position: center;
}

/* NAVIGATION LINK HOVER EFFECT START */
.gradientbar-link.active .gradientbar {
  background-image: linear-gradient(
    90deg,
    rgba(249, 172, 10, 1) calc(50% - 416px + (600px * 0)),
    rgba(231, 20, 103, 1) calc(50% - 416px + (600px * 0.45)),
    rgba(162, 0, 84, 1) calc(50% - 416px + (600px * 0.55)),
    rgba(41, 41, 76, 1) calc(50% - 416px + (600px * 1))
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* <- here it is */
  opacity: 1;
}

.gradientbar-link:hover .gradientbar {
  background-image: linear-gradient(
    90deg,
    rgba(249, 172, 10, 1) calc(50% - 416px + (600px * 0)),
    rgba(231, 20, 103, 1) calc(50% - 416px + (600px * 0.45)),
    rgba(162, 0, 84, 1) calc(50% - 416px + (600px * 0.55)),
    rgba(41, 41, 76, 1) calc(50% - 416px + (600px * 1))
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* <- here it is */
  opacity: 1;
}

/* NAVIGATION LINK HOVER EFFECT END */

.prose ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.clip-path-left-10 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.clip-path-left-20 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.clip-path-left-30 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}

.clip-path-left-40 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
}

.clip-path-left-50 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}

.clip-path-left-60 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
}

.clip-path-left-70 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%);
}

.clip-path-left-80 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%);
}

.clip-path-left-90 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%);
}

.clip-path-right-10 {
  clip-path: polygon(0 0, 100% 0, 10% 100%, 0% 100%);
}

.clip-path-right-20 {
  clip-path: polygon(0 0, 100% 0, 20% 100%, 0% 100%);
}

.clip-path-right-30 {
  clip-path: polygon(0 0, 100% 0, 30% 100%, 0% 100%);
}

.clip-path-right-40 {
  clip-path: polygon(0 0, 100% 0, 40% 100%, 0% 100%);
}

.clip-path-right-50 {
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}

.clip-path-right-60 {
  clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
}

.clip-path-right-70 {
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

.clip-path-right-80 {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.clip-path-right-90 {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.clip-path-right-10-left-0 {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}
.clip-path-right-10-left-10 {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
}

.ae-mobile-container {
  @apply max-md:w-[92vw] max-md:mx-auto;
}

.ae-non-mobile-container {
  @apply md:w-[90vw] md:mx-auto max-w-[1200px];
}

.no-spinner {
  -moz-appearance: textfield !important; /* Firefox */
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  appearance: none; /* General property */
}

/* Optional: Remove inner increment buttons in Chrome/Edge */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 640px) {
  .about-us-background {
    background-size: 100%;
    background-position-x: 35%;
    background-position-y: 70%;
  }
}

@layer base {
  ol {
    @apply pl-4 list-[decimal];
  }

  ul {
    @apply pl-4 list-[unset];
  }

  /* h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  h4 {
    @apply text-base font-bold;
  }

  h5 {
    @apply text-sm font-bold;
  }

  h6 {
    @apply text-xs font-bold;
  } */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
